$primary: #131313;
$secondary: #F7CC01;
$dark: #0d0d0d;
$light: #fff9f2;
$info: #2082ff;
$danger: #e65c5c;
$success: #47b34a;

$transparentizeSecondaryLight: rgba(70, 51, 31, 0.7);
$transparentizeSecondaryDarker: rgba(140, 102, 63, 0.8);
