@import "~src/sass/variables";

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: $primary;
  color: #fff;
  transition: all 0.3s;

  .sidebar-header {
    padding: 20px 8px;

    span {
      position: absolute;
      width: 100%;
      left: 210px;
      height: 36px;
      display: flex;
      align-items: center;
      color: $primary;
    }

    input {
      border-radius: 7px !important;
      padding-left: 25px;
      border: none;
      padding-right: 36px;

    }
  }

  &.active {
    margin-left: -250px;
  }



  @media (max-width: 768px) {
    & {
      margin-left: -250px;
    }

    &.active {
      margin-left: 0;
    }



  }



  ul {
    padding: 0 8px;

    p {
      font-size: 25px;
      line-height: 29px;

      color: rgba(216, 216, 216, 0.65);
    }

    li {
      border-bottom: 1px solid #fff;

      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          background-color: $secondary !important;
        }
      }
    }
  }
}
